@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h1>Welcome @ViewBag.Name</h1>
<p>Salary : @ViewBag.Salary</p>
<p>Nice To Meet You I Think Your Salary Is More Than 30000</p>
